html,
body {
  height: 100%;
  background: #fafafa;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -300px;
  padding: 0 0 60px;
}

#wrap > .container-fluid {
  padding: 60px 15px 0;
}

.list-group {
  font-size: .9em;

  a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
  }

  h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
}