<!DOCTYPE html>
<!--if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7
-->
<!--if IE 7html.no-js.lt-ie9.lt-ie8
-->
<!--if IE 8html.no-js.lt-ie9
-->
<!-- [if gt IE 8] <!-->
<html lang="en" class="no-js">
  <!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ngPostal</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/3684a881.main.css"/>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <button type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#/" class="navbar-brand">ngPostal</a>
        </div>
      </div>
      <div class="container-fluid">
        <div ng-controller="club" class="row-fluid">
          <div class="col-md-2">
            <h3>Player</h3>
            <hr>
            <form role="form" ng-submit="savePlayer(player)">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Enter name" ng-model="player.name" class="form-control">
              </div>
              <div class="form-group">
                <label for="position">Position</label>
                <select ng-model="player.position" ng-options="position for position in positions" class="form-control">
                  <option value="">Choose a position</option>
                </select>
              </div>
              <div class="form-group">
                <label for="goals">Goals</label>
                <div class="row">
                  <div class="col-xs-6">
                    <input id="goals" type="number" placeholder="Goals" min="0" max="120" ng-model="player.goals" class="form-control">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-default">Save</button>
              <button type="reset" ng-show="player.name" ng-click="clearForm()" class="btn btn-link">Clear form</button>
            </form>
          </div>
          <div class="col-md-6">
            <h3>Team</h3>
            <hr>
            <div class="panel">
              <div ng-hide="players.length &gt; 0" class="panel-body">
                <p>There are no players. Please add some.</p>
              </div>
              <div ng-show="players.length &gt; 0" class="panel-body">
                <table class="table table-hover ng-cloak">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Goals</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="player in players">
                      <td>{{player.id}}</td>
                      <td>{{player.name}}</td>
                      <td>{{player.position}}</td>
                      <td>{{player.goals}}</td>
                      <td>
                        <div class="btn-group-sm">
                          <button ng-click="editPlayer(player)" class="btn btn-default btn-sm">edit</button>
                          <button ng-click="deletePlayer(player.id)" class="btn btn-default btn-sm">delete</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div><span><small>{{promised}}</small></span>
          </div>
          <div class="col-md-4">
            <h3>Events</h3>
            <hr>
            <div class="list-group"><a href="#" ng-repeat="log in logs" ng-click="log.fold=!log.fold" class="list-group-item"><span ng-show="log.fold" class="glyphicon glyphicon-chevron-up pull-right"></span><span ng-hide="log.fold" class="glyphicon glyphicon-chevron-down pull-right"></span>
                <h4 class="list-group-item-heading"><span class="label label-warning">{{log.channel}}</span>&nbsp;{{log.topic}}</h4>
                <p class="list-group-item-text">{{log.timeStamp | date:'MM-dd-yyyy H:mm:ss'}}</p>
                <div ng-show="log.fold">
                  <hr>
                  <dl class="dl-horizontal"><span ng-repeat="(key, value) in log.data">
                      <dt>{{key}}</dt>
                      <dd>{{value | json}}</dd></span></dl>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>
    <script data-main="scripts/e11ecb5f.main" src="vendors/requirejs/require.js"></script>
  </body>
</html>